footer {
    background-color: black;
    padding-top: 3rem;
    border-top: 1px solid #CBBFB1;
    overflow: hidden;

    .line {
        width: 85%;
        height: 1px;
        background-color: white;
    }

    .links-footer {
        width: 100%;

        h4 {
            margin-bottom: 1rem;
        }
    }

    .redes-logo-footer {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 7%;
    }

    .redes-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-family: roboto;
        }


        a {
            font-family: roboto;
            font-size: 1.8rem;
            color: var(--Amarillo, #CBBFB1);
            margin: 1rem 0;
            display: flex;

            img {
                margin-right: 1rem;

                width: 2rem;
                height: 2rem;

            }



        }

    }

    h5 {
        margin: 1rem 0.5rem !important;
        padding: 0.5rem;

    }

    .first-h5 {
        margin-top: 1.8rem !important;
    }
}

.copy{
    a{
        color: white !important;
        text-decoration: none !important;
        font-size: 1.8rem;
    }
}



@media (max-width: 1000px) {
    .redes-logo-footer {
        margin: 0;
        margin-bottom: 4rem;

        justify-content: center !important;

        .logo-footer {
            width: 10rem;
            margin-bottom: 2rem;
        }

        .col-sm-6 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .links-footer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        h4{
            font-size: 2rem;
        }

        h5{
            font-size: 1.6rem;
        }
    }

    .copy{
        a{
            font-size: 1.6rem;
        }
    }

    .redes-footer {
        a {
            text-align: center !important;
        }

    }

}

@media (max-width: 768px) {
    .links-footer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        h4,
        h5 {
            text-align: center !important;
        }
    }

}