.up-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('/images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--beige, #CBBFB1);
    padding: 0.7rem 0;

    img {
        width: 5.5rem;
    }

    .logo-texto-up{
        display: none;
    }
}

.navbar {
    background-color: black !important;
    height: 5rem !important;
    position: sticky;
    top: 0;
    z-index: 11111111;
}

.inicio {
    text-decoration: none !important;
    font-family: roboto !important;
    font-size: 1.6rem !important;
    margin: 0 1rem !important;
    color: #CBBFB1 !important;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;



    .logo-navbar {
        width: 44rem;
        display: flex !important;
        justify-content: end !important;

        img {
            width: 16rem;
        }
    }

    .links-navbar {
        width: 1fr;
        display: flex;
        justify-content: end;
    }
}


.nav-item {
    .nav-link {
        color: white !important;
        text-decoration: none;
        font-family: roboto;
        font-size: 1.6rem;
        margin: 0 1rem;
    }

    .contacto-navbar {
        width: 140px;
        height: 28px;
        border-radius: 23.187px 4.637px;
        background: var(--Plateado, linear-gradient(90deg, #6B6B6A 3%, #C1C1C1 34.04%, #DBDBDB 49.07%, #626262 100%));
        display: flex;
        justify-content: center;
        align-items: center;
        color: black !important;
        font-family: roboto-bold;
    }

    .dropdown {
        color: white !important;
    }

    .dropdown-menu {
        min-width: 25rem;
        background: rgba(0, 0, 0, 0.70);
        width: 100%;
        color: white;

        .nav-link {
            border-bottom: solid 1px white;
            color: #FFF;
            font-family: roboto;
            font-size: 18px;

        }

    }

}


@media (max-width: 1000px) {

    .navbar-nav {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.861) 50%, rgb(0, 0, 0) 100%);
        width: 100%;

        .inicio {
            color: white !important;
            font-size: 1.8rem !important;
        }

        .links-navbar {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            margin: 1rem 0;

        }

        .logo-navbar {
            display: none !important;
        }

        .nav-link {
            font-size: 1.8rem !important;
            margin: 0.5rem 0;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {

    .up-navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-brand {
        img {
            width: 22rem;
        }
    }

    .logo-texto-up{
        display: inherit !important;
        width: 14rem !important;

    }

}